.nav-link{
    color:antiquewhite !important;
}
.nav-link:hover{
    color:rgb(4, 1, 14) !important;
    background-color: rgb(246, 250, 250);
    border-radius: 15px;
    font-weight: bold;
    

}

.navbar-brand{
    color: blue;  
    font-weight: bold;
}

.active{
    background-color: rgb(250, 250, 251);
    border-radius: 15px;
    color:rgb(4, 1, 14) !important;
    font-weight: bold;

}