
{% extends 'admin_home_base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    
</head>
<body>
    {% block main %}
    <style>
    .table-bordered{
        color:black;
    }

    </style>

    

    <div class="card shadow m-1 mx-auto" style="width:1200px ; color:rgb(14, 13, 13); ">
        <div class="card-body">
            <h1 class="p-0" style="border-bottom: 5px solid rgb(54, 32, 146)">
                Employee Detail
            </h1>
            <b>
            <div class="container-lg  font-weight-bold;" style="color:white;">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered font-weight-bold " id="example" style="color:rgb(8, 0, 0);">
                        <thead  style="font-size: large;">
                            <tr>
                                <th>Sr no.</th>
                                <th>Employee id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email Id</th>
                                <th>Contact No</th>
                                <th>Joining Date</th>
                                <th>Edit </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in employee %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.emp_id}}</td>
                                <td>{{i.user.first_name}}</td>
                                <td>{{i.user.last_name}}</td>
                                <td>{{i.user.username}}</td>
                                <td>{{i.contact}}</td>
                                <td>{{i.joining_date}}</td>
                                <td><a href="{% url 'admin_edit_profile' i.user.id %}" class="text-primary"> Profile </a><br>
                                    <a href="{% url 'admin_edit_education' i.user.id %}" class="text-secondary"> Education</a><br>
                                    <a href="{% url 'admin_edit_experience' i.user.id %}" class="text-success"> Experience</a>
                                    <br><a href="{% url 'admin_delete_employee' i.user.id %}" class="text-danger" onclick="return confirm('Are You Sure ?')"> Delete </a> </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                
        
        </div>
        

        </div>
        </b>
    </div>

    {% if error == "yes" %}
         <script>
            alert('Something went wrong.')
         </script>
    {% endif %}
    {% if error == "no" %}
    {% for message in messages %}
        <script>
          alert('Password Updated Successfully..');
          window.location.href = "{% url 'index' %}";
        </script>
        
    {% endfor %}
    {% endif %}

    {% if error == "not" %}
         <script>
            alert('Your current password is wrong')
         </script>
    {% endif %}
    
    {% endblock %}
 <!--<a href="{% url 'admin_edit_profile' i.id %}" class="text-primary"> Profile </a>
                                    <br>-->   
</body>
</html>
