
{% extends 'emp_home_base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    
</head>
<body>
    {% block main %}
    <script>
        function checkpassword()
        {
          if(document.change_password.new_password.value!= document.change_password.new_confirm_password.value)
          {
            alert('Password And Confirm Password Field Does Not Match');
            document.change_password.new_confirm_password.focus();
            return false;
          }
           return true;
        }
     </script>
    
    

    <div class="card shadow m-1 mx-auto" style="width:1200px ; color:rgb(6, 6, 6); ">
        <div class="card-body">
            <h1 class="p-0" style="border-bottom: 5px solid rgb(54, 32, 146)">
                Change Password
            </h1>
            <b>
            <div class="container-lg  font-weight-bold;" style="color:rgb(19, 18, 18);">
            <!--name is required because we will user js code-->
            <form method="post" name="change_password" onsubmit="return checkpassword()">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6 pt-2 mt-2">
                        <div class="form-group">
                          <label> Current Password</label>
                          <input type="password" name="current_password" class="form-control font-weight-bold" placeholder="Enter current passowrd " />
                        </div>
                    </div>
                </div>
                 
                <div class="form-row">
                    <div class="col-sm-6 pt-2 mt-2">
                        <div class="form-group">
                          <label> New Password</label>
                          <input type="pasword" name="new_password" class="form-control font-weight-bold" placeholder="Enter New password"  />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-6 pt-2 mt-2">
                        <div class="form-group">
                          <label> Confirm Password</label>
                          <input type="pasword" name="new_confirm_password" class="form-control font-weight-bold" placeholder=" Confirm password"  />
                        </div>
                    </div>
                    
                    </div>
                    
                </div>
        
        
                  <br>
                  <br>
  
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
        

        </div>
        </b>
    </div>

    {% if error == "yes" %}
         <script>
            alert('Something went wrong.')
         </script>
    {% endif %}
    {% if error == "no" %}
    {% for message in messages %}
        <script>
          alert('Password Updated Successfully..');
          window.location.href = "{% url 'emp_login' %}";
        </script>
        
    {% endfor %}
    {% endif %}

    {% if error == "not" %}
         <script>
            alert('Your current password is wrong')
         </script>
    {% endif %}
    
    {% endblock %}
    
</body>
</html>
