{% load static %}
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <style>      
      body {
          filter: brightness(90%);
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      .navbar {
          height: 60px; 
          padding: 10px;
          
      }
    </style>



  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


<!--include library for use icons-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">



<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">TechTalent Hub</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/index/' %} active {% endif %}" href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i>HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/emp_signup/' %} active {% endif %}" href="{% url 'emp_signup' %}"><i class="fa fa-sign-in-alt" aria-hidden="true"></i>Employee signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/emp_login/' %} active {% endif %}" href="{% url 'emp_login' %}"><i class="fa fa-sign-in-alt" aria-hidden="true"></i>Employee login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/admin_login/' %} active {% endif %}" href="{% url 'admin_login' %}"><i class="fa fa-sign-in-alt" aria-hidden="true"></i>Admin login</a>
          </li>
      </ul>
    </div>
  </nav>